window {
  background-color: rgba(14, 14, 14, 0.9);
}

#app_menu_bar {
  background-color: brown ;
  
}

#btn_action_capturar {
  background-color: brown ;
  background-image: none;
}

#btn_action_traduzir {
  background-color: rgb(2, 66, 109) ;
  background-image: none;
}

#text_separator{
  background-color: brown ;
}
