window {
  background-color: rgba(255, 255, 255, 0.5);
}

#btn_action_capturar {
  background-color: brown;
  -gtkwidget-focus-padding: 1;
  -gtkwidget-focus-line-width: 0;
}

#btn_action_traduzir {
  background-color: rgb(2, 66, 109);
  -gtkwidget-focus-padding: 1;
  -gtkwidget-focus-line-width: 0;
}
